@import "../Variables";

.s-background-dark {
    background-color: $dark !important;
}



.s-background-dark-complementary {
    background-color: $dark-complementary !important;
}

.s-backgroud-primary {
    background-color: $primary !important;
}