@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";


$buttonMinWidth: 50px;
$buttonMinHeight: 50px;

.react-calendar{
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    flex-direction: column;
    border-radius: 10px;
    background-color: $dark;
}

.react-calendar__navigation {
    display: flex;
    align-items: center !important;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px !important;
    button{
        background-color: transparent;
    }

    .react-calendar__navigation__prev2-button{
        display: none;
    }
    
    .react-calendar__navigation__next2-button{
        display:none;
    }

    .react-calendar__navigation__label {
        position: relative;
        max-width: 500px !important;
        font-size: $s-h3;
        left: calc(-50% + 185px);
        color: $s-background;
        user-select: none;
    }

    .react-calendar__navigation__prev-button{
        position: relative;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: $s-h6;
        left: calc(100% - 10px - 95px);
        border-radius: 100px;
        background-color: darken($dark-bg-subtle-dark, 3%);
        transition: transform ease 0.2s;
        h5 {
            font-size: $s-h6 !important;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-bottom: 0;
            margin-top: 15px;
            margin-left: 3.5px;
        }

        &:hover{
            background-color: lighten($dark-bg-subtle-dark, 15%);
            transform: scale(1.08);
        }
    }

    .react-calendar__navigation__next-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        padding: 0px;
        margin: 0px;
        right: calc( 10px + 10px);
        background-color: darken($dark-bg-subtle-dark, 3%);
        transition: transform ease 0.2s;
        h5 {
            font-size: $s-h6 !important;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-bottom: 0;
            margin-top: 15px;
            margin-left: -3.5px;
        }
        &:hover{
            background-color: lighten($dark-bg-subtle-dark, 15%);
            transform: scale(1.08);
        }
    }
}



.react-calendar__viewContainer{
    margin: 0px !important;
    margin-top: 10px !important;
    border-top: darken($s-form, 30%) solid 1px;
    height: 100%;
    .react-calendar__month-view__weekdays{
        user-select: none;
      
        background-color: darken($dark-bg-subtle-dark, 3%);
        border-bottom: darken($s-background, 30%) solid 1px;
        .react-calendar__month-view__weekdays__weekday{
            padding: 10px;
            color: $s-background;
            abbr{
                cursor: auto !important;
                font-size: $s-p !important; 
                text-decoration: none !important;
            }
        }
    }

    .react-calendar__month-view__days{
        button{ 
            margin: 0px !important;
            background-color: transparent;
            color: $s-background !important;
            border: none;
            transition: font-size ease-in-out 0.1s;
            &:hover{ 
                background-color: lighten($dark-bg-subtle-dark, 15%) !important;
                font-size: $s-h5 !important;
                cursor: auto;
            }
        }
    }
}



.react-calendar__month-view__days button{
    color: var(--bs-white);
    min-width: $buttonMinWidth;
    min-height: $buttonMinHeight;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: $s-p !important; 
}

.react-calendar__month-view__weekdays__weekday{
    text-align: center;
    font-size: 1.1rem;
    text-decoration:solid;
}


.react-calendar__navigation button{
    text-align: center;
    border: none;
}



.react-calendar__month-view__weekdays{
    color: white;       
    display: flex;
    flex-direction: row;
    align-items: center;
}

.react-calendar__tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

