.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    color: white;
}

.grid-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #444;
    border: 1px solid #555;
}

.grid-item {
    text-align: center;
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
}

.s-daily-board{
    background-color: $dark;
}


.daily-item-card{
    &:hover{
        .daily-item-card-header{
            background-color: darken($dark, 4%) !important;
        }
    
        .daily-item-card-body {
            background-color: darken(#333, 4%) !important;
        }
    }
}

