.fade-in { animation: fadeIn 3s; }



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container {
    text-align: center;
    padding: 20px;
}

.swipeable-row,
.swipeable-row-refinement{
  position: relative;
  transition: transform 0.3s ease;
  min-width: 100% !important;
  background-color: transparent;

  &.swiping {
    transform: translateX(var(--swipe-amount, 0));
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &::before {
    left: -150px; 
  }

  &::after {
    right: -150px; 
  }

  &.swiping::before {
    opacity: calc(1 - (var(--swipe-amount, 0) / -100));
  }

  &.swiping::after {
    opacity: calc(var(--swipe-amount, 0) / 100);
  }
}

.swipeable-row-refinement {
  &::before {
    content: 'Info';
    left: -100px;
    background-color: $info;
  }

  &::after {
    content: 'Edit';
    right: -100px;
    background-color: $green;
  }
}

.swipeable-row {
  &::before {
    content: 'Delete';
    left: -100px;
    background-color: $red;
  }

  &::after {
    content: 'Edit';
    right: -100px;
    background-color: $green;
  }
}


.swipeable-row-retro-card {
  position: relative;
  transition: transform 0.3s ease;

  &.swiping {
    transform: translateX(var(--swipe-amount, 0));
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &.swiping::before {
    opacity: calc(1 - (var(--swipe-amount, 0) / -100));
  }

  &.swiping::after {
    opacity: calc(var(--swipe-amount, 0) / 100);
  }
}
.swipeable-row-retro-card {
  &::before {
    content: 'Delete';
    padding: 20px;
    left: -125px; 
    background-color: transparent;
  }
}



.s-notification-indicator {
  position: relative;
  transition: transform 0.3s ease;

  &.swiping {
      transform: translateX(var(--swipe-amount, 0));
  }

  .remove-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s ease;
  }

  &.swiping .remove-icon {
      opacity: 1;
  }
}

.swipe-indicator p {
  animation: swipeLeft 25s ease-in-out infinite;
}

@keyframes swipeLeft {
  0%, 4%, 100% {
    transform: translateX(0);
  }
  2% {
    transform: translateX(-10px);
  }
}


.swipeable {
  position: relative;
  transition: transform 0.3s ease;
  min-width: 100% !important;
  background-color: transparent;

  &.swiping {
    transform: translateX(var(--swipe-amount, 0));
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  &::before {
    background-color: $secondary;
    left: -150px; 
  }

  &::after {
    background-color: $accent;
    right: -150px; 
  }

  &.swiping::before {
    content: var(--before-content, '');
    opacity: calc(1 - (var(--swipe-amount, 0) / -100));
  }

  &.swiping::after {
    content: var(--after-content, '');
    opacity: calc(var(--swipe-amount, 0) / 100);
  }
}