@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";


.s-button-underlined{
    color: lighten($s-text, 10%) !important;
    text-decoration: underline !important;
}


button {
    background-color: $s-dark;
    color: #ffffff;
    border: 1px solid $s-dark;
    transition: all 0.3s ease;

    &:hover {
        background-color: $hover-color; // Jaśniejszy odcień ciemnego tła
        color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &.accent {
        &:hover {
            background-color: $accent-color; // Kolor akcentujący
            color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}