@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "./Variables";


.s-button{ 
    transition: all 0.1s ease-in-out;
    min-width: 20px !important;
    min-height: 20px !important;
    i + span {
        margin-left: 8px;
    }

    &:hover {
        filter: brightness(1.1);
    }
}

//

.s-button-icon{
    padding: 0px !important;
}

.s-disabled {
    opacity: 25% !important;
}

.s-filled, .s-outlined, .s-borderless {
    border-radius: $s-radius !important;
    padding: $s-padding-vertical $s-padding-horizontal ;
}

.s-filled {
    border: none;
}

.s-outlined {
    background-color: transparent !important;
    border: 2px solid !important;
}

.s-borderless {
    background-color: transparent !important; 
    border: none;
    &:hover{
        transform: scale(1.2);
    }
}

.s-circle {
    aspect-ratio: 1 / 1 !important;
    padding: 0 !important;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

//

.s-normal {
    opacity: 75%;
    background-color: $input-background;
    border-color: $input-background !important;
    &.s-outlined {
        color: $input-background !important;
    }
    &.s-borderless {
        color: $input-background !important;
    }
}

.s-primary {
    background-color: $primary;
    border-color: $primary-complementary !important;
    &.s-outlined {
        color: $primary-complementary !important;
    }
    &.s-borderless {
        color: $primary-complementary !important;
    }
}

.s-cancel {
    background-color: $secondary;
    border-color: $dark-complementary !important;
    &.s-outlined {
        color: lighten($dark, 30%) !important;
    }
    &.s-borderless {
        color: lighten($dark, 30%) !important;
    }
}

.s-destructive {
    background-color: $warning;
    border-color: $warning-complementary !important;
    &.s-outlined {
        color: $warning-complementary !important;
    }
    &.s-borderless {
        color: $warning-complementary !important;
    }
}