@import './Variables';

$min-card-height: 500px;
$min-card-width: 225px;

.s-card {
    position: relative;
    border-radius: $s-radius;
    border-end-end-radius: 0px !important;
    min-height: $min-card-height;
    min-width: $min-card-width;
    max-width: $min-card-width;
    transition: transform 0.15s ease-in-out;
    border: none !important;
    overflow: hidden;
    color: $light; 
    
    .card-icon-div{
        border-color: $light !important;
        padding-bottom: 0.5rem !important;
        width: 72%;
    }

    h4{
        font-size: $s-h5 !important;
        padding: 1rem 0;
        width: 70%;
        display: flex; 
        justify-content: center;
        border-radius: $s-radius;
    }

    &.s-bg-primary {

        h4{
            background-color: $primary-complementary; 
        }

        &::before {
            background-color: $primary-complementary; 
        }
    }

    &.s-bg-secondary {
        
        h4{
            background-color: $secondary-complementary; 
        }

        &::before {
            background-color: $secondary-complementary; 
        }
    }

    &.s-bg-accent {

        h4{
            background-color: $accent-complementary; 
        }


        &::before {
            background-color: $accent-complementary; 
        }
    }

    &.s-bg-dark-input{
        h4{
            background-color: $input-background; 
        }


        &::before {
            background-color: lighten($input-background, 5%); 
        }
    }

    &::before {
        content: '';
        position: absolute;
        
        border: none !important;
        bottom: 0;
        right: 0;
        width: 50px; 
        height: 50px;
        clip-path: polygon(0 0, 100% 0, 0% 100%);
        z-index: 1;
    }


    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        border-color: $dark;
        right: -1px;
        width: 52px; 
        height: 52px; 
        background-color: $dark; 
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
        border: none !important;
        z-index: 2;
    }
}

.s-card-project{
    @extend .s-card;
    user-select: none;
    position: relative;
    background-color: $input-background !important;
    min-height: calc($min-card-height / 2) !important;
    width: $min-card-width !important;
    h5{
        width: 60%;
        max-height: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover{
        background-color: darken($input-background, 2%) !important;
        h5{
            background-color: darken($input-background, 2%) !important;
        }
        &::before {
            background-color: lighten($input-background, 8%); 
        }
    }
    .s-card-body{
        h6{
            width: 80%;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }
}



.s-card-placeholder {
    @extend .s-card-project;
    border-top-left-radius: 5%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc($min-card-height / 2) !important; 
    background-color: $input-background !important;
    border-radius: 0px !important;
    width: 20vw;

    &:hover{
        background-color: darken($input-background, 2%) !important;
    }
     
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    &::before {
        @extend .border;
        @extend .border-2;
        @extend .s-border-placeholder;

        background-color: lighten($input-background, 5%);
    }

    &::after {
        position: absolute;
        bottom: -3px;
        right: -5px;
        width: 55px; 
        height: 55px;
    }
} 

.s-card-body {
 
    text-overflow: ellipsis;
    width: 20vw;
    font-size: $text-fs;
}

.s-card-addon {
    font-size: $small-fs !important;
}


//TODO: Fix sliding
// .s-simple-side-menu {
//     background-color: $primary;
//     position: absolute;
    
//     animation: fadeIn 1s ease-in-out forwards !important;
//     width: 20%;
//     transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
// }

// @keyframes fadeIn {
//     0%{
//         top: 10%;
//         left: 0;
//         opacity: 0%;
//     }
//     100%{
//         top: 0%;
//         left: 100%;
//         opacity: 100%
//     }
// }

.s-simple-side-menu-position {
    top: 25%;
    z-index: 1000;
}

.s-simple-side-menu {
    top: 0;
    left: 0;
    background-color: $input-background;
}
.s-simple-side-menu-animate-back {
    animation: slideOff 0.3s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}


.s-simple-side-menu-animate {
    animation: slideIn 0.4s cubic-bezier(0.5, 0, 0.5, 1) forwards;

}

@keyframes slideOff {
    0%{
        opacity: 100%;
        top: 10%;
        left: 100%;
        
    }
    80%{
        opacity: 5%;
    }
    100%{
        opacity: 0%;
        top: 25%;
        left: 50%;
    }
}


@keyframes slideIn {
    0%{
        opacity: 0%;
        left: 50%;
    }
    80%{
        opacity: 5%;
    }
    100%{
        opacity: 100%;
        top: 0%;
        left: 100%;
    }
}