@import "./Utils";


.s-card {
    border-top-left-radius: 5%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: fit-content;
    aspect-ratio: 2 / 2;
    transition: transform 0.15s ease-in-out;

}   

.s-card-placeholder {
    border-top-left-radius: 5%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: fit-content;
    background-color: $s-background;
    aspect-ratio: 2 / 2;
    border-radius: 0px !important;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.s-card-body {
    width: 20vw;
    font-size: $text-fs;
}

.s-card-addon {
    font-size: $small-fs !important;
}