@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3,
.display-4, .display-5, .display-6 {
    font-family: "Montserrat", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: 400;
    font-style: normal;
}
html, body, .tooltip, .popover {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
code, kbd, pre, samp, .text-monospace {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
button, input, optgroup, select, textarea {
    font-family: inherit
}



h1, .s-h1 {
    font-size: 61.71px !important;
}

h2, .s-h2 {
    font-size: 46.3px !important;
}

h3, .s-h3 {
    font-size: 34.73px !important;
}

h4, .s-h4 {
    font-size: 26.05px!important;
}

h5, .s-h5 {
    font-size: 19.55px !important;
}

h6, .s-h6 {
    font-size: 14.66px !important;
}

p, .s-p {
    font-size: 11px !important;
}

small, .s-small{
    font-size: 8.25px !important;
}

$s-h1: 89.76px;
$s-h2: 67.34px;
$s-h3: 50.52px;
$s-h4: 37.9px;
$s-h5: 28.43px;
$s-h6: 21.33px;
$s-p: 16px;
$s-small: 12px;