body {
    background-color: $s-background !important;
}

.s-simple-side-menu {
    position: absolute;
    top: 10px;
    left: 85%;
    top: 0;
    width: 20%;
    justify-content: center;
    height: 80% !important;
    height: fit-content;
    transform: translateX(-30%) translateY(50%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0% !important;
}
.s-simple-side-menu-animate-back {
    transform: translateX(-30%) translateY(50%);
    opacity: 0% !important;
}

.s-simple-side-menu-animate {
    transform: translateX(4.2vw) translateY(0%); 
    opacity: 100% !important;
}

.s-textarea {
    padding: 5px 8px;
    width: 100%;
    background-color: $dark;
    color: darken($light, 15%) !important;
    transition: transform 0.2s ease-in;
    &:focus{
        outline: none;
    }
}

.s-select{
    background-color: $dark;
    min-width: 80% !important;
    padding: 5px 0;
    &:focus{
        outline: none !important;
    }
    &:hover{
        background-color: lighten($dark, 10%);
    }
}

.s-spinner{
    z-index: 1001;
}
