@import "./Variables";

$s-dark: #343a40;
$s-dark-darker: darken($s-dark, 10%);
$s-text: #0a0717;
$s-background: #fafafa;
$s-form: #D9D9D9;
$s-primary: #00ff8c;
$s-secondary: #cafe76;
$s-accent: #c40e3e;
$s-note: #FFC700;

$success: #376E37;   
$info: #1BE7FF;
$warning: #FE9920; 
$danger: #feb0b5;

$linearPrimarySecondary: linear-gradient(#00ff8c, #cafe76);
$linearPrimaryAccent: linear-gradient(#00ff8c, #c40e3e);
$linearSecondaryAccent: linear-gradient(#cafe76, #c40e3e);
$radialPrimarySecondary: radial-gradient(#00ff8c, #cafe76);
$radialPrimaryAccent: radial-gradient(#00ff8c, #c40e3e);
$radialSecondaryAccent: radial-gradient(#cafe76, #c40e3e);

$text-fs: 16px;
$small-fs: 12px;
$common-heading-fs: 28.43px;

body {
    background-color: $s-background !important;
}

.s-simple-side-menu {
    position: absolute;
    top: 10px;
    left: 85%;
    top: 0;
    width: 20%;
    justify-content: center;
    height: 80% !important;
    height: fit-content;
    transform: translateX(-30%) translateY(50%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0% !important;
}
.s-simple-side-menu-animate-back {
    transform: translateX(-30%) translateY(50%);
    opacity: 0% !important;
}

.s-simple-side-menu-animate {
    transform: translateX(4.2vw) translateY(0%); 
    opacity: 100% !important;
}

.s-textarea {
    padding: 5px 8px;
    width: 100%;
    background-color: $dark;
    color: darken($light, 15%) !important;
    transition: transform 0.2s ease-in;
    &:focus{
        outline: none;
    }
}

.s-select{
    background-color: $dark;
    min-width: 80% !important;
    padding: 5px 0;
    &:focus{
        outline: none !important;
    }
    &:hover{
        background-color: lighten($dark, 10%);
    }
}

.s-spinner{
    z-index: 1001;
}

.s-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}


$range-background: #6c757d;
$range-thumb-background: #ffffff;
$range-thumb-border: #007bff;

input[type="range"] {
    -webkit-appearance: none;
    width: fit-content;
    height: 8px;
    background: $range-background;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    border-radius: 5px;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: $range-thumb-background;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $range-thumb-border;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: $range-thumb-background;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $range-thumb-border;
}

.s-bg-primary {
    background-color: $primary !important;
}

.s-bg-primary-complementary {
    background-color: $primary-complementary !important;
}


.s-bg-secondary {
    background-color: $secondary !important;
}

.s-bg-secondary-complementary {
    background-color: $secondary-complementary !important;
}

.s-bg-accent {
    background-color: $accent !important;
}

.s-bg-accent-complementary {
    background-color: $accent-complementary !important;
}

.s-bg-success {
    background-color: $success !important;
}

.s-bg-info {
    background-color: $info !important;
}

.s-bg-warning {
    background-color: $warning !important;
}

.s-bg-danger {
    background-color: $danger !important;
}

.s-bg-text {
    background-color: $s-text !important;
}

.s-bg-dark {
    background-color: #110c27 !important;
}

.s-bg-dark-subtle {
    background-color: $s-dark-darker !important;
}

.s-bg-form {
    background-color: $s-form !important;
}

.s-bg-background {
    background-color: $s-background !important;
}

.s-f-dark {
    color: $s-text !important;
    &::placeholder {
        color: lighten($s-form, 40%) !important;
    }
}

.s-f-light {
    color: $s-background !important;
    &::placeholder {
        color: darken($s-form, 10%) !important;
    }
}

.s-bg-transparent {
    background-color: transparent !important;
}

.common-header {
    font-size: $common-heading-fs;
}

.s-color {
    color: $s-text !important;
}

.s-color-background {
    color: $s-background !important;
}

.s-border-placeholder {
    border-style: dashed !important;
    border-color: #495058;
    border-width: 1px;
}



.s-text-inpt{
    box-shadow: 0px 0px 3px 0px $dark!important;
}


input {
    &:focus {
        outline: none !important;
    }
}
input[type="password"] {
    text-align: center;
    &::placeholder {
        line-height: normal;
    }
}

.multi-select-dropdown {
    .dropdown-header {
        background-color: #333;
        color: #fff;
        border: 1px solid #444;
    }

    .selected-option {
        background-color: #555;
        color: #fff;
    }

    .placeholder {
        color: #aaa;
    }

    .dropdown-list {
        background-color: #333;
        border: 1px solid #444;
    }

    .dropdown-list-item {
        color: #fff;

        &:hover {
            background-color: #444;
        }
    }

    .dropdown-list-item input {
        accent-color: #fff;
    }
}

.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 1rem;
    gap: 0.5rem;
}

.fade-in-toast {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toast .btn-close {
    outline: none;
    box-shadow: none;
}