@import "../../../assets/styles/common/Variables.scss";

.s-navbar{
    user-select: none;
    color: $dark ;
    z-index: 1000;
    background-color: $light;
    h5{
        margin-bottom: 0px;
    }
    
    .breadcrumb > .breadcrumb-item {
        color: $dark ;
    } 
    
    .offcanvas-header{
        background-color: darken($s-text, 10%);
    }

    .offcanvas-body{
        background-color: $light;

        button{
            width: 100%;
            display: flex;
            transition: all 0.1s ease-in-out; 
            justify-content: space-between;
            font-size: $s-h5;
            color: $s-background !important;
            margin-bottom: 15px;
            color: $light !important;
            &:hover{
                transform: scale(1.03) !important;
                background-color: $dark-bg-subtle-dark;
                border-radius: $border-radius;
            }
        }

        .s-offcanvas-logout{
            button{
                background-color: $secondary;
                padding-right: 0;
                justify-content: end;
                width: fit-content;
            }
        }
    }
}

