@import "../../../assets/styles/common/Variables.scss";

.s-navbar{
    user-select: none;
    color: $light;
    z-index: 1000;
    background-color: $dark;
    opacity: $s-opacity;
    h5{
        margin-bottom: 0px;
    }
    
    .navbar-button{
        background-color: transparent !important;
        color: $light !important;
        &:hover{
            background-color: darken($primary, 10%) !important;
        }
    }
    .breadcrumb > .breadcrumb-item {
        color: $light ;
    } 
    
    .offcanvas{
        padding: $s-padding-horizontal 0 $s-padding-horizontal $s-padding-vertical;
        align-self: center;
        overflow: hidden;
        width: 20%;
        height: 100%;
        opacity: $s-opacity;
        background-color: $dark;
        .offcanvas-header{
            background: transparent !important;
            color: $light;
        }
    
        .offcanvas-body{
            .navigation-label{
                color: $light;
                margin-bottom: 0;
                width: 84%;
                
            }

            button{
                width: 90%;
                display: flex;
                transition: all 0.1s ease-in-out; 
                justify-content: space-between;
                font-size: $s-h5;
                background-color: transparent !important;
                color: $dark !important;
                color: $light !important;
                &:hover{
                    transform: scale(1.03);
                    background-color: $primary !important;
                }
            }
    
            .s-offcanvas-logout{
                button{
                    background-color: $secondary;
                    padding-right: 0;
                    justify-content: end;
                    width: fit-content;
                }
            }
        }
    }
   
}

