
.s-navbar{
    user-select: none;

    h5{
        margin-bottom: 0px;
    }
    button{
        background-color: transparent;
        border: none;
        font-size: $s-h6;
        color: $s-background !important; 

        border-radius: 8px;
        outline: none;
        cursor: pointer;
        transition: transform 0.1s ease;
        &:hover{
            transform: scale(1.2) !important;
        }
    }
    .offcanvas-header{
        background-color: darken($s-text, 10%);
    }

    .offcanvas-body{
        background-color: $dark;
        button{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: $s-h5;
            color: $s-background !important;
            margin-bottom: 15px;

            &:hover{
                transform: scale(1.05) !important;
                background-color: $dark-bg-subtle-dark;
                border-radius: $border-radius;
            }
        }

        .s-offcanvas-logout{
            button{
                padding-right: 0;
                justify-content: end;
                width: fit-content;
                color: $danger !important;
            }
        }
    }
}

