

$s-radius: 8px;
$s-padding-vertical: 4px;
$s-padding-horizontal: 16px;
$s-margin-horizontal: 8px;


$primary: #8EB4AE;
$primary-complementary: #73a4ad;
$secondary: #534B62;
$secondary-complementary: #857c95;
$accent: #226CE0;

$dark: #1B1725;
$dark-complementary:#474252;
$light: #FFFFFF;

$warning: #FF7F11;
$warning-complementary: #ff8e58;
$danger: #db3069;
$danger-complementary: #e35b7d;
$info: #0081A7;
$info-complementary: #3d9db3;
$success: #70ae6e;
$success-complementary: #8fc08f;

$input-background: #3B3B3B;
