.s-board {  
    color: $s-form;
    height: 90%;
    width: 90% !important;
}

.s-board-section {
    margin-bottom: 12%;
}

.s-board-menu {
    opacity: 100%;
}
.s-board-list-group{
    color: $s-background !important;
}

