.s-board {  
    background-color: $s-text;
    color: $s-form;
}

.s-board-section {
    margin-bottom: 12%;
}

.s-board-menu {
    background-color: $s-text;
    opacity: 100%;
}
.s-board-list-group{
    background: $s-text !important;
    color: $s-background !important;
}

