@import "../common/Variables";


.s-info-end-sprint{
    background-color:  $accent;
    padding: $s-padding-vertical $s-padding-horizontal;
    border-radius: $s-radius;
    color: $s-text;
    height: 24%;
    opacity: 80%;
}

.s-info-goal-sprint{
    padding: $s-padding-vertical $s-padding-horizontal;
    background-color: $secondary;
    margin-bottom: 20px;
    height: calc(76% - 20px);
    border-radius: $s-radius;
    color: $s-text;
    opacity: 80%;
}

.s-info-incoming-meetings{
    background-color: $primary;
    border-radius: $s-radius;
    color: $s-text;
    opacity: 80%;
}

.s-info-image{
    top: 10%;
    left: -25%;
}