
@import "../common/Variables";



.s-info-center {
    width: 80%;
    background-color: $dark;
    opacity: $s-opacity;
    border-radius: $s-radius;

}



.s-info-center-header{
    padding-top: $s-padding-vertical;
}



.s-info-meetings-list{
    height: 75% !important;
    justify-content: center;
    padding: $s-padding-vertical $s-padding-vertical;
    padding-bottom: $s-padding-horizontal !important;
    border-radius: $s-radius;

    li{ 
        
        background-color: transparent;
        border: none !important;
        padding-bottom: $s-padding-vertical;
        color: darken($light, 5%);
    }
}


