@import '../common/Variables';

$dailyMeeting: #55BBF6;
$criticalMeeting: #9B89DC;
$optionalMeeting: #DCEDB9;

.s-bg-daily {
    background-color: $primary;
}

.s-bg-critical{ 
    background-color: $primary;

}

.s-bg-optional {
    background-color: $primary;
}

.s-notification-sheet{
    background-color: $dark !important; 
    aspect-ratio: 1 / 2;
    padding: 10px;
    border-radius: 10px;
    user-select: none !important;
}

.s-notification-sheet-label{
    color: $s-background;
}

.s-notification-indicator {
    color: $light;
    border-radius: $s-radius;
    display: flex;
    width: 80%;
    padding: $s-padding-vertical $s-padding-horizontal;
}
